<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" alt="foto" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Paola Vieyra.</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mi</h1>
            <p id="sobre">Me llamo Paola Vieyra. Vivo en Córdoba capital. Tengo 50 años y hace mas de 20 años que me dedico a lo que es la informática desde diferentes puntos de vista
                y siempre queriendo tener mas conocimientos para ofrecer un mejor servicio, avancé en el conocimiento del software.
            </p>
        </span>
    </div>

</div>
